
        body {
            font-family: 'Open Sans', sans-serif;
            background-image: url("img/FreeVector-Halloween-House-Vector.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
        
        h1 {
            font-family: 'Kalam', cursive;
            font-size: 3em;
            color: #e4ba12;
        }
        
        .jumbotron {
            height: 70vh;
            color: #e97b1d;
            background-image: -webkit-linear-gradient(rgb(78, 89, 119));
            background-image: -moz-linear-gradient(rgb(78, 89, 119));
            background-image: -o-linear-gradient(rgb(78, 89, 119));
            background-image: linear-gradient(rgb(78, 89, 119));
            background: rgba(0,0,0,0.5);
        }
        
        .navbar-brand {
            background-image: url('img/hastings_ghost_stay.png');
            height: 50vh;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            /*background-size: cover;*/
        }
        
        .navbar-brand:hover {
            background-image: url('img/ghost.gif');
            height: 50vh;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;

        }
        
        .card-container {
            /*background: red;*/
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        
        .card {
            min-height: 200px;
            background-color: rgba(230, 228, 237, 0.9);
            padding: 10px;
            max-width: 30vw;
            box-shadow: 0 4px 2px 0 rgba(89, 102, 110, 0.7), 0 6px 20px 0 rgba(89, 102, 110, 0.7);
            margin-bottom: 30px;
        }
        
        .card-title {
            font-family: 'Kalam', cursive;
        }
        
        .eerie {
            color: #e97b1d;
        }
        
        #footer {
            color: #e97b1d;
        }
        
        #footer a {
            color: #e97b1d;
            text-decoration: underline;
        }
        
        @media only screen and (max-width: 600px) {
            .card {
                max-width: 45vw;
            }
        }
        
        @media only screen and (max-width: 400px) {
            .card {
                max-width: 80vw;
            }
        }

        footer {
            border: 1px solid black;
            height: 20px;
        }

